.emoji{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.sort{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.stext{
    padding: 2px 5px;
    background-color: rgb(130, 179, 223);
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.grid p{
    cursor: pointer;
}