    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .box {
        /* width: 200px; */
        height: 200px;
        background-color: blue;
        /* margin: 10px; */
    }
    .container{
        display: grid;
        gap: 10px;
        width: 100%;
        /* grid-template-columns: repeat(6, 1fr); */
        grid-auto-flow: row;
    }